<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <style>
        body {
            background-color: #15202b;
            color: #ffffff;
            font-family: Arial, sans-serif;
        }

        .container {
            width: 80%;
            margin: auto;
        }

        .header {
            text-align: center;
            padding: 20px;
            border-bottom: 1px solid #38444d;
        }

        .user-details {
            margin-top: 50px;
        }

        .detail {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Welcome to the Homepage</h1>
        </div>

        <div class="user-details">
            <div class="detail">
                <strong>Username: </strong>
                <span id="username"></span>
            </div>
            <div class="detail">
                <strong>Token: </strong>
                <span id="token"></span>
            </div>
        </div>
    </div>

    <script>
        function getCookie(name) {
        const nameWithEqualSign = name + "=";
        const cookiesArray = document.cookie.split(';');
        
        for (let i = 0; i < cookiesArray.length; i++) {
            let cookie = cookiesArray[i].trim();
            console.log('Current cookie:', cookie); // Add this line for debugging
            if (cookie.startsWith(nameWithEqualSign)) {
            return cookie.substring(nameWithEqualSign.length);
            }
        }
        return '';
        }

        function displayUserData() {
        const urlParams = new URLSearchParams(window.location.search);
        const username = urlParams.get("username");
        const token = urlParams.get("token");

        if (username && token) {
            document.getElementById("username").textContent = username;
            document.getElementById("token").textContent = token;
        } else {
            alert("User info not found. Please log in again.");
        }
        }

    
        displayUserData();
    </script>
    
</body>
</html>
